@model IEnumerable<MvcMovie.Models.Movie>

@{
    ViewData["Title"] = "Danh sách lớp";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr>
            <th>Họ và tên</th>
            <th>Ngày tháng năm sinh</th>
            <th>Chuyên ngành</th>
            <th>Lớp</th>
            <th>Địa chỉ</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.ReleaseDate.ToString("dd/MM/yyyy")</td>
                <td>@item.Genre</td>
                <td>@item.Price.ToString("C")</td>
            </tr>
        }
    </tbody>
</table>